@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;

  --font-01: 'Vina Sans', sans-serif;
  --font-02: 'Anton', sans-serif;
  --font-03: 'Russo One', sans-serif;
  --font-04: 'Odibee Sans', sans-serif;
  --font-05: Special Elite, sans-serif;
  --font-06: 'Notable', sans-serif;
  --font-07: 'Wendy One', sans-serif;


  --color-01:#748C4F;
  --color-02:#284030;
  --color-03:#A6774E;
  --color-04:#F2F0F2;
  --color-05:#F20530;
}

.background{
  background-color: #ebebed;
}


.links-pages{
  cursor: pointer;
  font-size: 1.8rem;
  font-family: var(--font-04);
  color: var(--color-01);
  text-decoration: none;
}
.links-pages:hover{ text-decoration: underline; opacity: 75%; }

.ola{
  font-size: 4rem;
  font-family: var(--font-07);
  color: rgb(192, 13, 13);
  text-shadow: 2px 2px 2px #222;
}
.nos-somos{
  font-family: var(--font-01);
  font-size: 2.5rem;
  color: #222222c2;
  text-shadow: 1px 1px 1px #2222224f;
}
.rosy-terra{
  font-family: var(--font-01);
  font-size: 3rem;
  color:var(--color-01);
  text-shadow: 1px 1px px #222;
}

.photo{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #222;
}
.text-release{
  font-size: 1.2rem;
  text-align: center;
  font-family: var(--font-03);
  color: #222222ab;
}
strong{
  color: #284030da;
  font-size: 1.3rem;
  padding-right: 3px;
}
.nos-siga{
  font-size: 1.5rem;
  font-family: var(--font-03);
  color: rgba(163, 26, 26, 0.815);
  text-shadow: 1px 1px 1px #22222281;
}
.icom{
  font-size: 1.5rem;
  margin: 5px;
  cursor: pointer;
  color:#24412e;
  text-decoration: none;
}
.icom:hover{opacity: 60%;}


.title-sobre{
  color: var(--color-01);
  font-family: var(--font-03);
  text-shadow: 1px 1px 1px #222222ce;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.photo-sobre{
    width: 100%;
    height: 100%;
    opacity: 80%;
}

.text-sobre{
    background-color: whitesmoke;
    color: #2222225d;
    text-shadow: 1px 1px 1px #2222222f;
    font-size: 1.3rem;    
    font-family: var(--font-03);
}
aside{
  height: 500px;
}
.background-form{
  background-image: url(img/formulario-small.jpeg);
  background-size: 100% 100% ;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;
  height: 100%;
}













.div-anfitriao:hover{box-shadow: 5px 10px 5px #22222228;}

.photo-effect-anfitriao{
   cursor: pointer;
}

.photo-effect-anfitriao{ transition: all 500ms linear; }
.photo-effect-anfitriao:hover{ transform: scale(1.2);}

.coment-anfitriao{
  font-style: italic;
}

.coment-anfitriao a{
  text-decoration: none;
  color: #216d3a;
  font-weight: 700;
  text-shadow: 1px 1px 1px #22222270;
  font-style: italic;
}

.coment-anfitriao a:hover{
  text-decoration: underline;
  opacity: 75%;
}






